In [2]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [3]:
os.chdir('C:/Users/user/Desktop/kto_ma_szkole_ten_ma_lzej/MGR/Dance-Recognition')

df = pd.read_csv('src/two-stream-pytorch/datasets/videos_list.txt', sep='\t', header=None)

In [4]:
df.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>latin</td>
      <td>v0eF7UhEW-A_055</td>
      <td>301</td>
    </tr>
    <tr>
      <th>1</th>
      <td>latin</td>
      <td>p0jKdU6cgOk_027</td>
      <td>251</td>
    </tr>
    <tr>
      <th>2</th>
      <td>latin</td>
      <td>w2K4A-d1bC4_036</td>
      <td>301</td>
    </tr>
    <tr>
      <th>3</th>
      <td>latin</td>
      <td>Cm0rzK9KHJA_034</td>
      <td>251</td>
    </tr>
    <tr>
      <th>4</th>
      <td>latin</td>
      <td>gJyBIr-IgSU_230</td>
      <td>301</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df, df[0], test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(1183, 3) (1183,)
(296, 3) (296,)

In [6]:
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5)

In [9]:
X_val.to_csv('src/two-stream-pytorch/datasets/letsdance_splits/val.csv', sep='\t', header=None, index=False)
X_test.to_csv('src/two-stream-pytorch/datasets/letsdance_splits/test.csv', sep='\t', header=None, index=False)
X_train.to_csv('src/two-stream-pytorch/datasets/letsdance_splits/train.csv', sep='\t', header=None, index=False)